@media -moz-pref("glass.icons") {
    .toolbarbutton-icon {
        -moz-context-properties:
            stroke, fill, fill-opacity, stroke-opacity !important;
        fill: var(--toolbarbutton-icon-fill) !important;
    }

    #back-button {
        list-style-image: url("back.svg") !important;
    }

    #forward-button {
        list-style-image: url("forward.svg") !important;
    }

    #downloads-indicator-anchor {
        width: 16px;
        height: 16px;
        list-style-image: url("download.svg") !important;
    }

    #unified-extensions-button {
        list-style-image: url("extensions.svg") !important;
    }
    
    #library-button {
        list-style-image: url("library.svg") !important;
    }
    
    #bookmarks-menu-button {
        list-style-image: url("bookmarks.svg") !important;
    }
    
    #panic-button {
        list-style-image: url("delete_history.svg") !important;
    }
}
