:root:not([inDOMFullscreen]) {
    #tabbrowser-tabbox[flex],
    #tabbrowser-tabpanels,
    browser[type="content-primary"],
    browser[type="content"] > html {
        border-radius: var(--borderRadius);
        overflow: clip;
    }

    #tabbrowser-tabbox {
        margin: 0px var(--margin) var(--margin) var(--margin) !important;
        border: rgba(255, 255, 255, 0.5) 1px solid;
    }
}

#browser {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background: none !important;
}

#main-window {
    background: url("../background.jpg") no-repeat center center fixed !important;
    background-size: cover !important;
}

#statuspanel {
    margin: var(--margin);
}

#statuspanel-label {
    border-radius: calc(var(--borderRadius) - 2px) !important;
    padding: 2px 10px !important;
    background: rgba(0, 0, 0, 0.9) !important;
    border: rgba(255, 255, 255, 0.3) 1px solid !important;
    color: white !important;
}

#PersonalToolbar {
    background: transparent !important;
}

#panel-sidebar-select-box {
    border-radius: var(--borderRadius);
    background: var(--bg-level1) !important;
    border: var(--border-level1) 1px solid !important;
    margin: 0px var(--margin) var(--margin) 0px;
}

menupopup {
    --panel-background: var(--forMenu) !important;
    --panel-border-color: var(--border-level1) !important;
    --panel-color: var(--forMenuFG) !important;
}

menuitem:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
    background-color: var(--color-bg) !important;
    color: var(--color-fg) !important;
}

menuitem {
    border-radius: var(--borderRadius) !important;
}

menu:where([_moz-menuactive="true"]:not([disabled="true"])),
menuitem:where([_moz-menuactive="true"]:not([disabled="true"])) {
    background-color: var(--color-bg) !important;
    color: var(--color-fg) !important;
    border-radius: var(--borderRadius) !important;
}
