#nav-bar {
    margin: var(--margin);
    border-radius: var(--borderRadius);
    background: var(--bgLevel1) !important;
    border: var(--borderLevel1) 1px solid !important;
}

#navigator-toolbox {
    background: none !important;
    border-bottom: 0px !important;
}

#urlbar:not([open]) .urlbar-background {
    background-color: var(--bgLevel2) !important;
    border: var(--borderLevel2) 1px solid !important;
}

#urlbar[open] .urlbar-background {
    background: var(--forURL) !important;
}

.urlbar-background {
    border-radius: var(--borderRadius) !important;
    backdrop-filter: blur(var(--blur)) !important;
}

#urlbar-input {
    text-align: center !important;
}

#urlbar[open] {
    animation: appear 400ms var(--bezier);
    transform: translateY(5px);
}

@keyframes appear {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(5px);
    }
}
#urlbar:not([open]) {
    animation: comeBack 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

@keyframes comeBack {
    0% {
        transform: translateY(5px) scaleX(1);
    }
    100% {
        transform: translateY(0px) scaleX(1);
    }
}

#urlbar-searchmode-switcher {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.toolbarbutton-icon,
.toolbarbutton-badge-stack {
    transition:
        background 50ms linear,
        color 50ms linear !important;
}

#urlbar-results > * {
    border-radius: 8px !important;
    transition:
        background 50ms linear,
        color 50ms linear !important;
}

#urlbar-results .urlbarView-row[selected] {
    background-color: var(--colorBg) !important;
    color: var(--colorFg) !important;
}

@media -moz-pref("glass.navBar.colorInButton") {
    #nav-bar toolbarbutton[open="true"] .toolbarbutton-icon,
    #nav-bar toolbarbutton:active .toolbarbutton-icon,
    #nav-bar toolbarbutton[open="true"] .toolbarbutton-badge-stack,
    #nav-bar toolbarbutton:active .toolbarbutton-badge-stack {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        background: var(--colorBg) !important;
        color: var(--colorFg) !important;
    }
}

@media -moz-pref("glass.navBar.hideSomeURLActions") {
    #tracking-protection-icon-container,
    #reader-mode-button,
    #translations-button {
        display: none !important;
    }
}
