#nav-bar {
    margin: 4px 4px 4px 4px;
    border-radius: 10px;
    background: var(--bg-level1) !important;
    border: var(--border-level1) 1px solid !important;
}

#navigator-toolbox {
    background: none !important;
    border-bottom: 0px !important;
}

#urlbar:not([open]) .urlbar-background {
    background-color: var(--bg-level2) !important;
    border: var(--border-level2) 1px solid !important;
}

.urlbar-background {
    border-radius: 20px !important;
}

#urlbar[open] {
    animation: appear 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: translateY(5px);
}

@keyframes appear {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(5px);
        opacity: 1;
    }
}
#urlbar:not([open]) {
    animation: comeBack 150ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

@keyframes comeBack {
    0% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

#urlbar-searchmode-switcher {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.toolbarbutton-icon, .toolbarbutton-badge-stack {
    transition: background 50ms linear, color 50ms linear !important;
}

@media -moz-pref("glass.navBar.colorInButton") {
    #nav-bar toolbarbutton[open="true"] .toolbarbutton-icon,
    #nav-bar toolbarbutton:active .toolbarbutton-icon, 
    #nav-bar toolbarbutton[open="true"] .toolbarbutton-badge-stack,
    #nav-bar toolbarbutton:active .toolbarbutton-badge-stack {
        background: var(--color-bg) !important;
        color: var(--color-fg) !important;
    }
}
