:root {
    --urlbar-inner-border-radius: 20px !important;
}

:root {
    --tab-min-height: 30px !important;
}

#tabbrowser-tabs .tabbrowser-tabs .tabbrowser-tab {
    min-height: var(--tab-min-height) !important;
    max-height: var(--tab-min-height) !important;
}

.tabbrowser-tab:not([selected]) {
    opacity: 0.7;
}

#TabsToolbar {
    background-color: var(--bgLevel1) !important;
    border: var(--borderLevel1) 1px solid !important;
    margin: var(--margin) var(--margin) 0px var(--margin);
    border-radius: var(--borderRadius);
}

.tabbrowser-tab[selected] .tab-background {
    background-color: var(--bgLevel2) !important;
    border: var(--borderLevel2) 1px solid !important;
    box-shadow: none !important;
    animation: bgIn 150ms cubic-bezier(0.3, 1.4, 0.4, 1.3);
}

@keyframes bgIn {
    from {
        scale: 0.9;
    }
    to {
        scale: 1;
    }
}

.tab-background {
    border-radius: var(--borderRadius) !important;
}

@media -moz-pref("glass.tab.inactiveBG") {
    .tabbrowser-tab:not([selected]) .tab-background {
        background-color: var(--bgLevel1);
    }
}

@media -moz-pref("glass.tab.activeLine") {
    .tabbrowser-tab[selected] {
        position: relative;
    }

    .tabbrowser-tab[selected]::after {
        animation: letsGo 150ms cubic-bezier(0.3, 1.4, 0.4, 1.3);
        position: absolute;
        left: 25%;
        bottom: 5%;
        content: "";
        height: 10%;
        border-radius: 50px;
        width: 50%;
        background: light-dark(var(--colorFg), var(--colorBg)) !important;
        z-index: 10 !important;
    }

    @keyframes letsGo {
        0% {
            left: 35%;
            width: 30%;
        }
        100% {
            left: 25%;
            right: 50%;
        }
    }
}
