:root {
    --urlbar-inner-border-radius: 20px !important;
    --tab-border-radius: 20px !important;
    --toolbarbutton-icon-fill: white !important;
}

:root {
    --tab-min-height: 20px !important;
}

#tabbrowser-tabs .tabbrowser-tabs .tabbrowser-tab {
    min-height: var(--tab-min-height) !important;
    max-height: var(--tab-min-height) !important;
}

.tabbrowser-tab:not([selected]) {
    opacity: 0.7 !important;
}

#TabsToolbar {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: rgba(255, 255, 255, 0.5) 1px solid !important;
    margin: 4px 4px 0px 4px;
    border-radius: 10px !important;
}

.tabbrowser-tab[selected] .tab-background {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: rgba(255, 255, 255, 0.3) 1px solid !important;
}

:root {
    --tabpanel-background-color: #00000000 !important;
}
