:root {
    --urlbar-inner-border-radius: 20px !important;
    --tab-border-radius: 20px !important;
}

:root {
    --tab-min-height: 30px !important;
}

#tabbrowser-tabs .tabbrowser-tabs .tabbrowser-tab {
    min-height: var(--tab-min-height) !important;
    max-height: var(--tab-min-height) !important;
}

.tabbrowser-tab:not([selected]) {
    opacity: 0.7;
}

#TabsToolbar {
    background-color: var(--bg-level1) !important;
    border: var(--border-level1) 1px solid !important;
    margin: 4px 4px 0px 4px;
    border-radius: 10px;
}

.tabbrowser-tab[selected] .tab-background {
    background-color: var(--bg-level2) !important;
    border: var(--border-level2) 1px solid !important;
    box-shadow: none !important;
}

@media -moz-pref("glass.tab.inactiveBG") {
    .tabbrowser-tab:not([selected]) .tab-background {
        background-color: var(--bg-level1);
    }
}

:root {
    --tabpanel-background-color: #00000000 !important;
}
