:root {
    --urlbar-inner-border-radius: 20px !important;
    --tab-border-radius: 20px !important;
}

:root {
    --tab-min-height: 30px !important;
}

#tabbrowser-tabs .tabbrowser-tabs .tabbrowser-tab {
    min-height: var(--tab-min-height) !important;
    max-height: var(--tab-min-height) !important;
}

.tabbrowser-tab:not([selected]) {
    opacity: 0.7;
}

#TabsToolbar {
    background-color: var(--bg-level1) !important;
    border: var(--border-level1) 1px solid !important;
    margin: var(--margin) var(--margin) 0px var(--margin);
    border-radius: var(--borderRadius);
}

.tabbrowser-tab[selected] .tab-background {
    background-color: var(--bg-level2) !important;
    border: var(--border-level2) 1px solid !important;
    box-shadow: none !important;
}

@media -moz-pref("glass.tab.inactiveBG") {
    .tabbrowser-tab:not([selected]) .tab-background {
        background-color: var(--bg-level1);
    }
}

@media -moz-pref("glass.tab.activeLine") {
    .tabbrowser-tab[selected] {
        position: relative;
    }
    
    .tabbrowser-tab[selected]::after {
        animation: letsGo 150ms cubic-bezier(0.3, 1.4, 0.4, 1.3);
        position: absolute;
        left: 25%;
        bottom: 5%;
        content: "";
        height: 10%;
        border-radius: 50px;
        width: 50%;
        background: linear-gradient(90deg, var(--color-fg), var(--color-bg)) !important;
        z-index: 10 !important;
    }
    
    @keyframes letsGo {
        0% {
            left: 35%;
            width: 30%;
        }
        100% {
            left: 25%;
            right: 50%;
        }
    }
    
    
}

:root {
    --tabpanel-background-color: #00000000 !important;
}
