:root:not([inDOMFullscreen]) {
    #tabbrowser-tabbox[flex],
    #tabbrowser-tabpanels,
    browser[type="content-primary"],
    browser[type="content"] > html {
        border-radius: 8px !important;
        overflow: clip;
    }

    #tabbrowser-tabbox {
        margin: 0px 4px 4px 4px !important;
        border: rgba(255, 255, 255, 0.5) 1px solid !important;
    }
}

:root {
    --urlbar-inner-border-radius: 20px !important;
    --tab-border-radius: 20px !important;
    --toolbarbutton-icon-fill: white !important;
}

:root {
    --tab-min-height: 20px !important; /* adjust */
}

#tabbrowser-tabs .tabbrowser-tabs .tabbrowser-tab {
    min-height: var(--tab-min-height) !important;
    max-height: var(--tab-min-height) !important;
}

.tabbrowser-tab:not([selected]) {
    opacity: 0.7 !important;
}

#nav-bar {
    margin: 4px 4px 4px 4px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1) !important;
    border: rgba(255, 255, 255, 0.5) 1px solid !important;
}

#navigator-toolbox {
    background: none !important;
    border-bottom: 0px !important;
}

#browser {
    background: none !important;
}

#urlbar:not([open]) .urlbar-background {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: rgba(255, 255, 255, 0.3) 1px solid !important;
}

.urlbar-background {
    border-radius: 20px !important;
}

#TabsToolbar {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: rgba(255, 255, 255, 0.5) 1px solid !important;
    margin: 4px 4px 0px 4px;
    border-radius: 10px !important;
}

.tabbrowser-tab[selected] .tab-background {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: rgba(255, 255, 255, 0.3) 1px solid !important;
}

#urlbar-searchmode-switcher {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

:root {
    --tabpanel-background-color: #00000000 !important;
}

#main-window {
    background: url("background.jpg") no-repeat center center fixed !important;
    background-size: cover !important;
}

* {
    font-family: "SF Pro Display" !important;
}

#urlbar[open] {
    animation: appear 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: translateY(5px);
}

@keyframes appear {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(5px);
        opacity: 1;
    }
}
#urlbar:not([open]) {
    animation: comeBack 150ms cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}

@keyframes comeBack {
    0% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

#statuspanel {
    margin: 4px !important;
}

#statuspanel-label {
    border-radius: 8px !important;
    padding: 2px 10px !important;
    background: rgba(0, 0, 0, 0.9) !important;
    border: rgba(255, 255, 255, 0.3) 1px solid !important;
    color: white !important;
}

#PersonalToolbar {
    background: transparent !important;
}
