@import "glass/colors.css";
@import "glass/variables.css";

@-moz-document url("about:newtab"), url("about:home") {
    .top-site-outer .tile {
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1) !important;
        background-color: var(--bgLevel1) !important;
        border-radius: var(--borderRadius) !important;
        border: var(--borderLevel1) 1px solid !important;
        transition: all 200ms var(--bezier);
        height: 60px !important;
        width: 80px !important;
        backdrop-filter: blur(10px) !important;
    }

    .top-site-outer:has(> :active) .tile {
        scale: 0.9;
        border: none;
    }

    .title {
        color: light-dark(black, white) !important;
        border-radius: var(--borderRadius) !important;
        margin-top: 5px !important;
    }

    @media -moz-pref("glass.darkMode", true) {
        .title {
            background-color: rgba(0, 0, 0, 0.5) !important;
        }
        .search-handoff-button {
            color: white !important;
        }
    }

    @media -moz-pref("glass.darkMode", false) {
        .title {
            background-color: rgba(255, 255, 255, 0.5) !important;
        }
        .search-handoff-button {
            color: black !important;
        }
    }

    .search-handoff-button {
        backdrop-filter: blur(20px) !important;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1) !important;
        border-radius: 50px !important;
        border: var(--borderLevel1) 1px solid !important;
        background-color: var(--bgLevel1) !important;
    }

    .mobileDownloadPromoWrapper {
        display: none !important;
    }

    .customize-menu-animate-wrapper {
        margin: 10px;
        border-radius: var(--borderRadius) !important;
    }
}

@-moz-document url-prefix("about:preferences") {
    .navigation {
        background: rgba(255, 255, 255, 0.1) !important;
        border: light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)) 1px
            solid !important;
        margin: 3vh 0px 3vh 3vh;
        border-radius: 12px !important;
    }

    #categories .category {
        margin: 0 10px !important;
    }

    #categories {
        margin: 10px 0px 0px 0px !important;
    }

    .sidebar-footer-list {
        margin: 0px 10px 10px !important;
    }

    .category {
        border-radius: 20px !important;
    }

    #categories > .category[selected] {
        background: var(--colorBg) !important;
        color: var(--colorFg) !important;
    }

    * {
        accent-color: var(--colorBg) !important;
    }

    .picker-item[checked] {
        border: 4px var(--colorBg) solid !important;
    }
}

/* This shit doesn't work, pls someone come and fix it.... */

/* @-moz-document url("about:addons") {
    #categories .category {
        margin: 0 10px !important;
    }

    #categories {
        margin: 10px 0px 0px 0px !important;
    }

    .category {
        border-radius: 20px !important;
    }

    #categories > .category[selected] {
        background: var(--color-violet-10) !important;
        color: var(--color-violet-80) !important;
        fill: blue !important;
    }
} */
