@import "glass/colors.css";
@import "glass/variables.css";

@-moz-document url("about:newtab"), url("about:home") {
    .top-site-outer .tile {
        background-color: light-dark(
            rgba(255, 255, 255, 0.3),
            rgba(0, 0, 0, 0.5)
        ) !important;
        border-radius: var(--borderRadius) !important;
        border: rgba(255, 255, 255, 0.3) 1px solid !important;
        transition: all 200ms var(--bezier) ;
    }
    
    .top-site-outer:has( > :active) .tile {
        scale: 0.8;
        border: none;
    }

    .title {
        color: light-dark(black, white) !important;
        background-color: light-dark(
            rgba(255, 255, 255, 0.5),
            rgba(0, 0, 0, 0.5)
        ) !important;
        border-radius: var(--borderRadius) !important;
        margin-top: 5px !important;
    }

    .search-handoff-button {
        background-color: light-dark(
            rgba(255, 255, 255, 0.5),
            rgba(0, 0, 0, 0.5)
        ) !important;
        border-radius: 10px !important;
        color: light-dark(black, white) 
    }

    .mobileDownloadPromoWrapper {
        display: none !important;
    }
    
    .customize-menu-animate-wrapper {
        margin: 10px;
        border-radius: var(--borderRadius) !important;
    }
}

@-moz-document url-prefix("about:preferences") {
    .navigation {
        background: rgba(255, 255, 255, 0.1) !important;
        border: light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)) 1px
            solid !important;
        margin: 3vh 0px 3vh 3vh;
        border-radius: 12px !important;
    }

    #categories .category {
        margin: 0 10px !important;
    }

    #categories {
        margin: 10px 0px 0px 0px !important;
    }

    .sidebar-footer-list {
        margin: 0px 10px 10px !important;
    }

    .category {
        border-radius: 20px !important;
    }

    #categories > .category[selected] {
        background: var(--colorBg) !important;
        color: var(--colorFg) !important;
    }

    * {
        accent-color: var(--colorBg) !important;
    }

    .picker-item[checked] {
        border: 4px var(--colorBg) solid !important;
    }
}

/* This shit doesn't work, pls someone come and fix it.... */

/* @-moz-document url("about:addons") {
    #categories .category {
        margin: 0 10px !important;
    }

    #categories {
        margin: 10px 0px 0px 0px !important;
    }

    .category {
        border-radius: 20px !important;
    }

    #categories > .category[selected] {
        background: var(--color-violet-10) !important;
        color: var(--color-violet-80) !important;
        fill: blue !important;
    }
} */
